* {
  margin: 0;
  box-sizing: border-box;
  color: #fff;
}

nav {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 130px;
  background-color: #858381;
}

nav li {
  display: inline-block;
  width: 14%;
  padding: 10px;
  font-family: Cambay, Helvetica, sans-serif;
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
}

nav li:hover {
  cursor: pointer;
  color: #171616;
}

.article-container-a {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  height: 1200px;
  font-family: Cambay, Helvetica, sans-serif;
}

.article-container-b {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  width: 100%;
  height: 450px;
}

.article-section {
  width: 100%;
  height: 1200px;
  background-color: #5c5956;
  display: grid;
  grid-template-rows: 50% 50%;
}

.inner-article-a {
  background-color: #706d6b;
  width: 100%;
  height: 100%;
}

.inner-article-b {
  background-color: #545250;
  width: 100%;
  height: 100%;
}

.author-name {
  position: relative;
  left: 10px;
  bottom: 10px;
  font-size: 26px;
}

.feature-article {
  width: 70%;
  margin: auto;
  margin-top: 15%;
  line-height: 3em;
}

.feature-article h1 {
  font-size: 38px;
  font-weight: 700;;
}

.hashtag {
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.article-thumbnail {
  width: 65px;
  transform: rotate(-20deg);
  margin: 10px;
}

.article-container-b {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  width: 100%;
  height: 450px;
}

.inner-article-c {
  background-color: #7a7676;
  width: 100%;
  height: 100%;
}

.article-date {
  font-size: 0.75em;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.inner-article-c h1 {
  font-size: 28px;
  font-weight: 800;
  text-decoration: underline;
  font-family: Cambay, Helvetica, sans-serif;
}

.author-name-b {
  font-size: 13px;
  text-decoration: underline;
}

.feature-article-b {
  width: 80%;
  margin: auto;
  margin-top: 15%;
  line-height: 1.5em;
}

.feauture-article-b p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 25px;
}

.article-container-c {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 510px;
}

.article-container-d {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 510px;
}

.container-sec-a {
  background-color: #383636;
  width: 50%;
  height: 490px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  padding: 50px;
}

.container-sec-a h1 {
  font-size: 34px;
}

.container-sec-a p {
  font-size: 26px;
}

.container-sec-b {
  width: 25%;
  height: 500px;
  background-color: #757272;
  margin: 5px;
}

.white-square {
  width: 170px;
  height: auto;
}

.btn {
  border-radius: 13px;
  background-color: #fff;
  color: #545250;
  padding: 10px;
}

.external-link {
  width: 100%;
  height: 150px;
  text-align: center;
  padding-top: 80px;
  font-size: 25px;
  background-color: #e0dada;
  font-family: Cambay;
}

.external-link a {
  text-decoration: none;
  color: #383636;
}

.article-container-e {
  width: 100%;
  height: 800px;
  text-align: center;
  background-color: #5c5956;
  font-family: Cambay;
  padding: 50px;
}

.article-container-e h1 {
  font-size: 45px;
}

.article-container-e p {
  font-size: 24px;
}

.r-date {
  font-size: 20px;
}

.sec-e-img {
  width: 280px;
  height: 400px;
}
