* {
  margin: 0;
  box-sizing: border-box;
  color: #fff;
}

nav {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 130px;
  background-color: #858381;
}

nav li {
  display: inline-block;
  width: 14%;
  padding: 10px;
  font-family: Cambay, Helvetica, sans-serif;
  font-size: 24px;
}

.website_logo {
  position: relative;
  text-align: center;
}